{{#isSuccess}}:check:{{/isSuccess}}{{#isFailure}}:failed:{{/isFailure}}{{#isError}}:red_circle:{{/isError}}{{#isPending}}:waiting:{{/isPending}}{{#isExpected}}:hourglass:{{/isExpected}}{{#isUnexpected}}:red_flag:{{/isUnexpected}}{{#isUnknown}}:interrobang:{{/isUnknown}}